---
- name: Provision Fedora workstation
  hosts: localhost
  connection: local
  vars_files:
    - variables/application-versions.yml
    - variables/configuration.yml
    - variables/node_tools.yml
    - variables/packages.yml
  tasks:
    - name: Install python DNF bindings (bootstrap)
      ansible.builtin.command: dnf install -y python3-dnf
      register: dnf_bootstrap
      changed_when: "'Nothing to do' not in dnf_bootstrap.stdout"
      become: true
    - name: Import user directory tasks
      ansible.builtin.import_tasks: tasks/user-directories.yml
      tags: [directories]
    - name: Import repository tasks
      ansible.builtin.import_tasks: tasks/repositories.yml
      become: true
      tags: [repositories]
    - name: Import package tasks
      ansible.builtin.import_tasks: tasks/packages.yml
      become: true
      tags: [packages]
    - name: Import ProtonVPN tasks
      ansible.builtin.import_tasks: tasks/proton.yml
      become: true
      tags: [proton]
    - name: Import font setup tasks
      ansible.builtin.import_tasks: tasks/font-setup.yml
      tags: [fonts]
    - name: Import Java tasks
      ansible.builtin.import_tasks: tasks/java.yml
      become: true
      tags: [java]
    - name: Import Cargo package tasks
      ansible.builtin.import_tasks: tasks/cargo_packages.yml
      tags: [cargo]
    - name: Import Go package tasks
      ansible.builtin.import_tasks: tasks/go_packages.yml
      tags: [go]
    - name: Import Flatpak tasks
      ansible.builtin.import_tasks: tasks/flatpack.yml
      tags: [flatpak]
    - name: Import Syncthing tasks
      ansible.builtin.import_tasks: tasks/syncthing.yml
      tags: [syncthing]
    - name: Import GNOME configuration tasks
      ansible.builtin.import_tasks: tasks/configure-gnome.yml
      tags: [gnome]
    - name: Import dotfiles tasks
      ansible.builtin.import_tasks: tasks/dotfiles.yml
      tags: [dotfiles]
    - name: Import sysctl tasks
      ansible.builtin.import_tasks: tasks/sysctl.yml
      become: true
      tags: [sysctl]
    - name: Import Node.js package tasks
      ansible.builtin.import_tasks: tasks/node_packages.yml
      tags: [node_packages]
    - name: Set the hostname
      ansible.builtin.hostname:
        name: "{{ hostname }}"
      become: true
    - name: Configure user
      ansible.builtin.user:
        name: "{{ user }}"
        shell: /bin/zsh
        groups: libvirt
        append: true
      become: true
