---
- hosts: localhost
  connection: local
  vars_files:
    - variables/application-versions.yml
    - variables/configuration.yml
    - variables/node_tools.yml
    - variables/packages.yml
  tasks:
    - name: install deps for ansible modules
      ansible.builtin.command: dnf install -yq python-dnf
      register: dnf_install_result
      changed_when: "'Nothing to do' not in dnf_install_result.stdout"
      become: true
    - ansible.builtin.import_tasks: tasks/repositories.yml
      become: true
    - ansible.builtin.import_tasks: tasks/packages.yml
      become: true
    - ansible.builtin.import_tasks: tasks/proton.yml
      become: true
    - ansible.builtin.import_tasks: tasks/font-setup.yml
    - ansible.builtin.import_tasks: tasks/java.yml
      become: true
    - ansible.builtin.import_tasks: tasks/cargo_packages.yml
    - ansible.builtin.import_tasks: tasks/go_packages.yml
    - ansible.builtin.import_tasks: tasks/flatpack.yml
    - ansible.builtin.import_tasks: tasks/syncthing.yml
    - ansible.builtin.import_tasks: tasks/configure-gnome.yml
    - ansible.builtin.import_tasks: tasks/dotfiles.yml
    - ansible.builtin.import_tasks: tasks/sysctl.yml
      become: true
    - ansible.builtin.import_tasks: tasks/node_packages.yml
    - name: set the hostname
      ansible.builtin.hostname: name={{ hostname }}
      become: true
    - name: Configure user
      ansible.builtin.user:
        name: "{{ user }}"
        shell: /bin/zsh
        groups: docker, libvirt
        append: yes
      become: true
