---
- name: install cargo
  dnf: name=cargo state=present
  become: true
- name: install tod todoist client
  community.general.cargo:
    name: tod
    path: ~/.local
    state: latest
- name: install eza, a modern replacement for ls
  community.general.cargo:
    name: eza
    path: ~/.local
