---
- name: Install cargo
  ansible.builtin.dnf:
    name: cargo
    state: present
  become: true
- name: Install tod todoist client
  community.general.cargo:
    name: tod
    path: "/home/{{ user }}/.local"
    state: latest
- name: Install eza, a modern replacement for ls
  community.general.cargo:
    name: eza
    path: "/home/{{ user }}/.local"
