---
- name: Install cargo
  ansible.builtin.dnf:
    name: cargo
    state: present
  become: true

- name: Install Rust/Cargo packages
  community.general.cargo:
    name: "{{ item }}"
    path: "/home/{{ user }}/.local"
    state: latest
  loop: "{{ packages_cargo }}"
