---
- block:
  - name: center new windows
    dconf:
      key: '/org/gnome/mutter/center-new-windows'
      value: 'true'
      state: present
  - name: enable compose key
    dconf:
      key: '/org/gnome/desktop/input-sources/xkb-options'
      value: "['caps:shift_nocancel', 'compose:caps']"
  - name: Disable conflicting keyboard shortcut switch to workspace left
    dconf:
      key: "/org/gnome/desktop/wm/keybindings/switch-to-workspace-left"
      value: "['<Super>Page_Up', '<Super><Alt>Left']"
  - name: Disable conflicting keyboard shortcut switch to workspace right
    dconf:
      key: "/org/gnome/desktop/wm/keybindings/switch-to-workspace-right"
      value: "['<Super>Page_Down', '<Super><Alt>Right']"
  - name: Disable conflicting keyboard shortcut of GPaste
    dconf:
      key: "/org/gnome/GPaste/make-password"
      value: "''"
  - name: Set monoface font to 'Adwaita Mono' (The default)
    dconf:
      key: "/org/gnome/desktop/interface/monospace-font-name"
      value: '"Adwaita Mono 11"'
  - name: set font hinting to slight
    dconf:
      key: "/org/gnome/desktop/interface/font-hinting"
      value: "'slight'"
  - name: set antialiasing to rgba
    dconf:
      key: "/org/gnome/desktop/interface/font-antialiasing"
      value: "'rgba'"
