---
- name: Configure GNOME desktop settings
  block:
    - name: Center new windows
      community.general.dconf:
        key: '/org/gnome/mutter/center-new-windows'
        value: 'true'
        state: present
    - name: Enable compose key
      community.general.dconf:
        key: '/org/gnome/desktop/input-sources/xkb-options'
        value: "['caps:shift_nocancel', 'compose:caps']"
    - name: Disable conflicting keyboard shortcut switch to workspace left
      community.general.dconf:
        key: "/org/gnome/desktop/wm/keybindings/switch-to-workspace-left"
        value: "['<Super>Page_Up', '<Super><Alt>Left']"
    - name: Disable conflicting keyboard shortcut switch to workspace right
      community.general.dconf:
        key: "/org/gnome/desktop/wm/keybindings/switch-to-workspace-right"
        value: "['<Super>Page_Down', '<Super><Alt>Right']"
    - name: Disable conflicting keyboard shortcut of GPaste
      community.general.dconf:
        key: "/org/gnome/GPaste/make-password"
        value: "''"
    - name: Set font hinting to slight
      community.general.dconf:
        key: "/org/gnome/desktop/interface/font-hinting"
        value: "'slight'"
    - name: Set antialiasing to rgba
      community.general.dconf:
        key: "/org/gnome/desktop/interface/font-antialiasing"
        value: "'rgba'"

- name: Install Gnome Extensions
  ansible.builtin.include_role:
    name: luizgavalda.gnome_extensions
  vars:
    gnome_extension_ids: [2236, 1070, 7048, 5470]

- name: Get enabled Gnome extensions
  ansible.builtin.command: "gnome-extensions list --enabled"
  register: enabled_extensions
  changed_when: false
  failed_when: false

- name: Get all installed Gnome extensions
  ansible.builtin.find:
    paths: "/home/{{ user }}/.local/share/gnome-shell/extensions"
    file_type: directory
  register: installed_extensions

- name: Enable installed Gnome extensions (if not already enabled)
  ansible.builtin.command: "gnome-extensions enable {{ item.path | basename }}"
  loop: "{{ installed_extensions.files }}"
  when: "item.path | basename not in enabled_extensions.stdout"
  changed_when: true
