---
- name: Prepare stow directories
  file:
    path: "/home/{{ user }}/depot/"
    state: directory
    mode: '0755'
    owner: "{{ user }}"
- name: Check out dotfiles
  git: repo=https://github.com/wallner/dotfiles.git dest="/home/{{ user }}/depot/dotfiles" 

- name: Run stow
  shell: "stow --dir /home/{{ user }}/depot --target /home/{{ user }} dotfiles --verbose=2"
  register: result
  changed_when: 'result.stderr is search("LINK: ")'
- name: fix permissions of .ssh/options
  file: path=/home/{{ user }}/.ssh/config mode=0600
- name: Generate the caches for 'bat'
  shell: "bat cache --build"
  register: result
  changed_when: false
