---
- name: Add the flathub flatpak repository remote to the user installation
  become: yes
  become_user: "{{ user }}"
  community.general.flatpak_remote:
    name: flathub
    state: present
    flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo
    method: user

- name: Install a few flatpacks
  become: yes
  become_user: "{{ user }}"
  community.general.flatpak:
    remote: flathub
    state:  latest
    method: user
    name:
    - com.jetbrains.IntelliJ-IDEA-Ultimate
    - com.mardojai.ForgeSparks
    - com.rafaelmardojai.Blanket
    - com.slack.Slack
    - de.schmidhuberj.Flare
    - md.obsidian.Obsidian
    - org.gnome.World.Secrets
    - org.freedesktop.Sdk.Extension.golang/x86_64/25.08
    - org.freedesktop.Sdk.Extension.node24/x86_64/25.08
    - org.freedesktop.Sdk.Extension.openjdk/x86_64/25.08
    - org.freedesktop.Sdk.Extension.openjdk21/x86_64/25.08
    - org.freedesktop.Sdk.Extension.openjdk17/x86_64/25.08
    - org.freedesktop.Sdk.Extension.rust-stable/x86_64/25.08
    - org.freedesktop.Sdk.Extension.typescript/x86_64/25.08
    - us.zoom.Zoom

