---
- name: Add the flathub flatpak repository remote to the user installation
  community.general.flatpak_remote:
    name: flathub
    state: present
    flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo
    method: user

- name: Install Flatpak Applications
  community.general.flatpak:
    remote: flathub
    state: present
    method: user
    name:
      - com.github.marhkb.Pods
      - com.jeffser.Alpaca
      - com.jetbrains.IntelliJ-IDEA-Ultimate
      - com.mardojai.ForgeSparks
      - com.rafaelmardojai.Blanket
      - com.slack.Slack
      - de.schmidhuberj.Flare
      - md.obsidian.Obsidian
      - org.gnome.World.Secrets
      - us.zoom.Zoom

- name: Install Flatpak SDK Extensions
  ansible.builtin.command: "flatpak install --user -y --noninteractive flathub {{ item }}"
  register: flatpak_sdk_result
  changed_when: "'is already installed' not in flatpak_sdk_result.stderr"
  loop:
      - runtime/org.freedesktop.Sdk.Extension.golang/x86_64/{{ flatpak_sdk_branch }}
      - runtime/org.freedesktop.Sdk.Extension.node24/x86_64/{{ flatpak_sdk_branch }}
      - runtime/org.freedesktop.Sdk.Extension.node22/x86_64/{{ flatpak_sdk_branch }}
      - runtime/org.freedesktop.Sdk.Extension.node20/x86_64/{{ flatpak_sdk_branch }}
      - runtime/org.freedesktop.Sdk.Extension.openjdk/x86_64/{{ flatpak_sdk_branch }}
      - runtime/org.freedesktop.Sdk.Extension.openjdk25/x86_64/{{ flatpak_sdk_branch }}
      - runtime/org.freedesktop.Sdk.Extension.openjdk21/x86_64/{{ flatpak_sdk_branch }}
      - runtime/org.freedesktop.Sdk.Extension.openjdk17/x86_64/{{ flatpak_sdk_branch }}
      - runtime/org.freedesktop.Sdk.Extension.rust-stable/x86_64/{{ flatpak_sdk_branch }}
      - runtime/org.freedesktop.Sdk.Extension.typescript/x86_64/{{ flatpak_sdk_branch }}
