---
# Flatpak configuration and application deployment

- name: Add the flathub flatpak repository remote to the user installation
  community.general.flatpak_remote:
    name: flathub
    state: present
    flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo
    method: user

- name: Install Flatpak Applications
  community.general.flatpak:
    remote: flathub
    state: present
    method: user
    name:
      - com.github.marhkb.Pods
      - com.jeffser.Alpaca
      - com.jetbrains.IntelliJ-IDEA-Ultimate
      - com.mardojai.ForgeSparks
      - com.rafaelmardojai.Blanket
      - com.slack.Slack
      - de.schmidhuberj.Flare
      - md.obsidian.Obsidian
      - org.gnome.World.Secrets
      - us.zoom.Zoom

- name: Get installed Flatpak SDK extensions
  ansible.builtin.command: "flatpak list --user --runtime --columns=application,branch"
  register: flatpak_installed_sdks
  changed_when: false
  check_mode: false

- name: Install Flatpak SDK Extensions
  ansible.builtin.command: "flatpak install --user -y --noninteractive flathub {{ item }}/x86_64/{{ flatpak_sdk_branch }}"
  loop: "{{ packages_flatpak_sdk }}"
  # Check if application ID and branch are present in the output
  when: "not (flatpak_installed_sdks.stdout is search(item ~ '\\s+' ~ flatpak_sdk_branch))"
