---
- name: Install font COPRs
  community.general.copr:
    name: "{{ item }}"
  become: true
  loop:
    - adrienverge/some-nice-fonts
    - aquacash5/nerd-fonts

- name: Install freetype-freeworld
  ansible.builtin.dnf:
    name: freetype-freeworld
    state: present
  become: true

- name: Install fonts
  ansible.builtin.dnf:
    state: present
    name:
      - cascadia-fonts-all
      - cascadia-code-nerd-fonts
      - cascadia-mono-nerd-fonts
      - jetbrains-mono-fonts-all
      - jet-brains-mono-nerd-fonts
      - fontawesome-fonts
      - fontawesome-fonts-web
      - powerline-fonts
      - some-nice-fonts
      - source-code-pro-nerd-fonts
      - terminus-fonts-console
      - terminus-fonts
      - terminus-nerd-fonts
  become: true

- name: Activate LCD default filter
  ansible.builtin.lineinfile:
    path: "~/.Xresources"
    line: "Xft.lcdfilter: lcddefault"
    create: true
    mode: '0644'
