---
- name: Ensure XDG directories exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
  loop:
    - "{{ install_root }}"
    - "{{ xdg_bin_home }}"

- name: Install tools into isolated XDG subdirectories (global-style)
  community.general.npm:
    name: "{{ item.name }}"
    state: latest
    global: true
  environment:
    NPM_CONFIG_PREFIX: "{{ install_root }}/{{ item.bin }}"
  loop: "{{ tools }}"

- name: Symlink binaries to ~/.local/bin
  ansible.builtin.file:
    src: "{{ install_root }}/{{ item.bin }}/bin/{{ item.bin }}"
    dest: "{{ xdg_bin_home }}/{{ item.bin }}"
    state: link
    force: yes
  loop: "{{ tools }}"

- name: Install Google Cloud Functions locally
  community.general.npm:
    name: "@google-cloud/functions"
    path: "{{ install_root }}/cloud-functions"
    state: latest
