---
- name: Install "sfdx" CLI application
  yarn:
    name: sfdx-cli
    global: yes
    state: absent
    # state: latest
- name: Install the Node packages for google cloud functions
  yarn:
    name: "@google-cloud/functions"
    global: yes
- name: Install the Gemini CLI tool
  yarn:
    name: "@google/gemini-cli"
    global: yes
- name: Install deno
  yarn:
    name: deno
    global: yes
- name: Install mermaid cli
  yarn:
    name: "@mermaid-js/mermaid-cli"
    global: yes
