---
- name: upgrade all packages
  ansible.builtin.dnf:
    name: "*"
    state: latest
  tags: [never, upgrade]

- name: Install System and Shell Utilities
  ansible.builtin.dnf:
    state: present
    name:
      - awscli
      - bat
      - chafa
      - compsize
      - direnv
      - dropbox
      - fd-find
      - fzf
      - gh
      - git-all
      - git-delta
      - gpaste-zsh-completion
      - htop
      - httpie
      - insync
      - kubectl
      - lnav
      - lshw
      - nvme-cli
      - openldap-clients
      - p7zip
      - rclone
      - ripgrep
      - sensible-utils
      - smartmontools
      - starship
      - stow
      - stress-ng
      - tig
      - tmux
      - wl-clipboard
      - xclip
      - zoxide
      - zsh
      - zsh-autosuggestions
      - zsh-syntax-highlighting

- name: Install Desktop, Media, and GUI Applications
  ansible.builtin.dnf:
    state: present
    name:
      - aisleriot
      - aspell-de
      - blackbox-terminal
      - calibre
      - cheese
      - dconf-editor
      - deja-dup
      - drawing
      - epiphany
      - ffmpeg
      - five-or-more
      - foliate
      - geary
      - ghostty
      - gimp
      - gnome-backgrounds-extras
      - gnome-boxes
      - gnome-console
      - gnome-mahjongg
      - gnome-mines
      - gnome-music
      - gnome-photos
      - gnome-power-manager
      - gnome-shell-extension-blur-my-shell
      - gnome-shell-extension-caffeine
      - gnome-shell-extension-gpaste
      - gnome-sound-recorder
      - gnome-tetravex
      - gnome-tweak-tool
      - google-chrome-stable
      - graphviz
      - gstreamer-ffmpeg
      - gstreamer1-libav
      - gstreamer1-plugins-bad-free
      - gstreamer1-plugins-bad-free-extras
      - gstreamer1-plugins-bad-freeworld
      - gstreamer1-plugins-base-tools
      - gstreamer1-plugins-good
      - gstreamer1-plugins-good-extras
      - gstreamer1-plugins-ugly
      - gstreamer1-plugins-ugly-free
      - gstreamer1-vaapi
      - hunspell-de
      - iagno
      - ImageMagick
      - inkscape
      - intel-gpu-tools
      - intel-media-driver
      - keepassxc
      - libavcodec-freeworld
      - libmp4v2
      - libreoffice-langpack-de
      - lollypop
      - loupe
      - menulibre
      - mesa-va-drivers-freeworld
      - nethack
      - NetworkManager-openvpn
      - papers
      - ptyxis
      - qadwaitadecorations-qt5
      - qt6-qtwayland-adwaita-decoration
      - seahorse
      - shotwell
      - showtime
      - steam
      - transmission-gtk
      - wesnoth

- name: Install Development, Virtualization, and Container Tools
  ansible.builtin.dnf:
    state: present
    name:
      - autoconf
      - awesome-vim-colorschemes
      - buildah
      - boost-devel
      - cyrus-sasl-devel
      - file-devel
      - gcc-c++
      - libbson-devel
      - libvirt-client
      - mongo-c-driver-devel
      - ncurses-devel
      - nodejs
      - openssl-devel
      - podman
      - podman-compose
      - podman-docker
      - podman-manpages
      - postgresql
      - skopeo
      - sqlitebrowser
      - typescript
      - uv
      - utf8proc-devel
      - vagrant
      - vagrant-libvirt
      - vim-X11
      - vim-airline
      - vim-commentary
      - vim-devicons
      - vim-enhanced
      - vim-fugitive
      - vim-gitgutter
      - vim-nerdtree
      - virt-manager
      - virtiofsd
      - wireshark
      - yarnpkg
      - zeal
