---
- name: upgrade all packages
  ansible.builtin.dnf:
    name: "*"
    state: latest
  tags: [never, upgrade]

- name: Install System and Shell Utilities
  ansible.builtin.dnf:
    state: present
    name: "{{ packages_system }}"

- name: Install Desktop, Media, and GUI Applications
  ansible.builtin.dnf:
    state: present
    name: "{{ packages_desktop }}"

- name: Install Development, Virtualization, and Container Tools
  ansible.builtin.dnf:
    state: present
    name: "{{ packages_development }}"