---
- name: Install the ProtonVPN repository
  ansible.builtin.dnf:
    state: present
    disable_gpg_check: true
    name: https://repo.protonvpn.com/fedora-{{ fedora_current }}-stable/protonvpn-stable-release/protonvpn-stable-release-1.0.3-1.noarch.rpm

- name: Install the ProtonVPN GNOME client
  ansible.builtin.dnf:
    name: proton-vpn-gnome-desktop
    state: present
