---
- name: Install Syncthing
  ansible.builtin.dnf:
    name: syncthing
    state: present
  become: true

- name: Configure Syncthing to start at login using systemd
  ansible.builtin.systemd_service:
    name: syncthing
    scope: user
    enabled: true
    state: started
