---
- name: install syncthing
  dnf: name=syncthing state=present
  become: true

- name: configure syncthing to start at login using systemd
  systemd_service:
    name: syncthing
    scope: user
    enabled: true
    state: started
